// Ensure logo has proper height with horizontal padding
.site-logo {
  min-height: 67px;
  padding-left: 7%;
  padding-right: 7%;
}

// On larger screens, make logo bigger
@media (min-width: 50rem) {
  .site-logo {
    min-height: 86px;
  }
}
